<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>

    <button id="btnConnectMMAdmin">
        Connect MetaMask
    </button>
    <h2 id="wallet">...</h2>
    <div>
        <input type="text" id="txtWallet" placeholder="Wallet">
        <input type="text" id="txtToken" placeholder="Ichi Token">
        <button id="btnReward">Reward</button>
    </div>

    <table id="clientsList" width="600"></table>


    <script src="./web3/web3.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script type=module src="./js/process.js"></script>
</body>

</html>