<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>

<body>

    <button id="btnConnectMM">
        Connect MetaMask
    </button>
    <h2 id="wallet">...</h2>
    <div>
        <button id="btnClaim">Claim</button>
    </div>


    <script src="./web3/web3.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/processUser.js"></script>
</body>

</html>